* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    color: #fff;
    background-color: #000;
}

.container {
    background-image: url(../images/img4.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 35px;
    padding-right: 8%;
    padding-bottom: 0px;
    padding-left: 8%;
    height: 100vh;

}

nav {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo a {
    font-size: 50px;
    text-decoration: none;

}

.logo a span {
    color: #0025f9;
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #053edb;
}

.content {
    margin-top: 10%;
    font-size: 20px;
}

.content h2 a {
    font-size: 70px;
    list-style: none;
    text-decoration: none;
}

.content h2 a:hover {
    color: #0062d19f;
}

a {
    color: #fff;

}

.link {
    margin-top: 30px;
}